<div class="container-fluid p-0">
    <nav class="navbar navbar-light bg-light navbar-expand-lg">
        <a class="navbar-brand" href="/">restro.pp.ua</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">

            </ul>
            <div class="my-2 my-lg-0">
                {{#if username}}
                    <a class="text-dark mr-3" href="#">{{{username}}}</a>
                    {{#if role}}
                        <a href="/admin"><img src="img/manager.png" class="admin-image mr-3 my-2" alt=""></a>
                    {{/if}}
                    <a id="miniCart" class="mini-cart" href="/cart">
                    {{#if cartQuantity}}
                        <p>{{cartQuantity}}</p>
                    {{/if}}
                        <img src="img/cart.png" alt="Корзина" class="cart-image mr-3 my-2">
                    </a>
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">Вихід</a>
                {{else}}
                    <a class="text-dark mr-3" href="/login">Вхід</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="/register">Реєстрація</a>
                {{/if}}
            </div>
        </div>
    </nav>
</div>