<div class="container">
    <h2 class="text-center mt-3">Кошик</h2>
    <table class="table cart-table mt-3">
        <thead class="thead-light">
            <tr>
                <th scope="col">Назва страви</th>
                <th scope="col">Вартість</th>
                <th scope="col">Кількість</th>
                <th scope="col">Керування</th>
            </tr>
        </thead>
        <tbody>
            {{#each cart.dishes}}
                <tr>
                    <th>{{{name}}}</th>
                    <th>{{{price}}} за порцію</th>
                    <th><input type="number" value="{{{quantity}}}" class="form-control w-1"></th>
                    <th><div class="btn-table-group"><button class="btn btn-danger btn-delete" data-id="{{{dishId}}}" onclick="deleteFromCart(event)">Видалити</button></div></th>
                </tr>
            {{/each}}
        </tbody>
    </table>
</div>