<div class="container">
    <h2 class="text-center">Панель керування</h2>
    <div class="row">
		<div class="col-12 col-md-3 border-right">
			<div class="content">
	            <div class="list-group nav nav-pills">
                    <a data-toggle="pill" href="#stock" class="list-group-item list-group-item-action active">Склад</a>
                    <a data-toggle="pill"  onclick="getOrders()" href="#orders" class="list-group-item list-group-item-action">Замовлення</a>
                    <a data-toggle="pill" href="#addDish" class="list-group-item list-group-item-action">Додати страву</a>
                    <a data-toggle="pill" href="#statistic" class="list-group-item list-group-item-action">Статистика</a>
                </div>
	        </div>
        </div>
        <div class="col-12 col-md-9">
            <div class="tab-content">
                <div id="orders" class="tab-pane fade">
                    <h3>Замовлення</h3>
                    <div class="table-responsive">
                        <table class="table">
                            <thead class="thead-light">
                                <tr><th scope="col">№</th><th scope="col">Замовлення</th><th scope="col">Дата</th><th scope="col">Вартість</th><th scope="col">Статус</th></tr>
                            </thead>
                            <tbody id="orderTable"></tbody>
                        </table>
                    </div>
                </div>
                <div id="stock" class="tab-pane fade show active">
                    <h3>Облік продуктів</h3>
                    <p>*тут буде облік продуктів*</p>
                </div>
                <div id="addDish" class="tab-pane fade">
                    <form>
                      <div class="form-group">
                        <label for="inputName">Назва страви</label>
                        <input type="email" class="form-control" id="inputName" required>
                      </div>
                      <div class="form-group">
                        <label for="inputPrice">Ціна</label>
                        <input type="email" class="form-control" id="inputPrice" required>
                        <small id="emailHelp" class="form-text text-muted">Для виділення десяткової частини числа використовуйте крапку.</small>
                      </div>
                      <div class="form-group">
                        <label for="inpdutPhoto">Фотографія</label>
                        <input type="email" class="form-control" id="inputPhoto" required>
                        <small id="emailHelp" class="form-text text-muted">Вставте посилання на зображення. Рекомендується використовувати фотохостинг imgur.com.</small>
                      </div>
                      <button type="submit" class="btn btn-primary">Додати</button>
                    </form>
                </div>
                <div id="statistic" class="tab-pane fade">
                    <p>*тут буде статистика замовлень*</p>
                </div>
            </div>
        </div>
    </div>
</div>