<div class="container">
    <h2 class="text-center">Панель керування</h2>
    <div class="row">
		<div class="col-12 col-md-3 border-right">
			<div class="content">
	            <div class="list-group">
                    <a href="/admin/orders" class="list-group-item list-group-item-action">Замовлення</a>
                    <a href="/admin/stock" class="list-group-item list-group-item-action">Склад</a>
                    <a href="/admin/dishes/add" class="list-group-item list-group-item-action">Додати страву</a>
                    <a href="/admin/dishes/add" class="list-group-item list-group-item-action">Статистикаы</a>
                </div>
	        </div>
        </div>
    </div>
</div>